/* USER VARIABLES SECTION */

:root {
  --accent: #cc8869;
  --text: #333;
  --regular-text: 16px;
  --lineheight: 1.65;
  --userfont: roboto-st, sans-serif;
  --systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
  --padding: 120px;
  --transition: cubic-bezier(0.4, 0, 0, 1);
}

/* FONTS LOAD SECTION */

@font-face {
  src: url('../fonts/roboto-regular-webfont.woff2') format('woff2');
  font-family: 'roboto-st';
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url('../fonts/roboto-italic-webfont.woff2') format('woff2');
  font-family: 'roboto-st';
  font-weight: 400;
  font-style: italic;
}
@font-face {
  src: url('../fonts/roboto-bold-webfont.woff2') format('woff2');
  font-family: 'roboto-st';
  font-weight: 700;
  font-style: normal;
}
@font-face {
  src: url('../fonts/roboto-bolditalic-webfont.woff2') format('woff2');
  font-family: 'roboto-st';
  font-weight: 700;
  font-style: italic;
}
@font-face {
  src: url('../fonts/assassin.woff2') format('woff2');
  font-family: 'assassin-st';
  font-weight: 700;
  font-style: italic;
}

/* GENERAL CSS SETTINGS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #2f363e;
  font-family: var(--userfont);
  font-size: var(--regular-text);
  line-height: var(--lineheight);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* min-height: 500px; */
  background: #2f363e;
  border-radius: 20px;
  border-top-left-radius: 225px;
  border-top-right-radius: 225px;
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.75),
    10px 10px 70px rgba(0, 0, 0, 0.25), inset 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 20px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
}

.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 450px;
  height: 450px;
  background: #2f363e;
  border-radius: 50%;
  box-shadow: 10px 50px 70px rgba(0, 0, 0, 0.25),
    inset 5px 5px 10px rgba(0, 0, 0, 0.5), inset 5px 5px 20px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
  margin-bottom: 30px;
}

.clock::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background: #2f363e;
  border: 3px solid #fff;
  border-radius: 50%;
}
