/* USER VARIABLES SECTION */

:root {
  --accent: #cc8869;
  --text: #333;
  --regular-text: 16px;
  --lineheight: 1.65;
  --userfont: roboto-st, sans-serif;
  --systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
  --padding: 120px;
  --transition: cubic-bezier(0.4, 0, 0, 1);
}

/* FONTS LOAD SECTION */

@font-face {
  src: url('../fonts/roboto-regular-webfont.woff2') format('woff2');
  font-family: 'roboto-st';
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url('../fonts/roboto-italic-webfont.woff2') format('woff2');
  font-family: 'roboto-st';
  font-weight: 400;
  font-style: italic;
}
@font-face {
  src: url('../fonts/roboto-bold-webfont.woff2') format('woff2');
  font-family: 'roboto-st';
  font-weight: 700;
  font-style: normal;
}
@font-face {
  src: url('../fonts/roboto-bolditalic-webfont.woff2') format('woff2');
  font-family: 'roboto-st';
  font-weight: 700;
  font-style: italic;
}
@font-face {
  src: url('../fonts/assassin.woff2') format('woff2');
  font-family: 'assassin-st';
  font-weight: 700;
  font-style: italic;
}

/* GENERAL CSS SETTINGS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #2f363e;
  font-family: var(--userfont);
  font-size: var(--regular-text);
  line-height: var(--lineheight);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  /* min-height: 500px; */
  background: #2f363e;
  border-radius: 20px;
  border-top-left-radius: 225px;
  border-top-right-radius: 225px;
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.75),
    10px 10px 70px rgba(0, 0, 0, 0.25), inset 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 20px rgba(255, 255, 255, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
}

.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 450px;
  height: 450px;
  background: #2f363e;
  border-radius: 50%;
  box-shadow: 10px 50px 70px rgba(0, 0, 0, 0.25),
    inset 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 20px rgba(255, 255, 255, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
  margin-bottom: 30px;
}

.clock::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background: #2f363e;
  border: 3px solid #fff;
  border-radius: 50%;
  z-index: 1000;
}

.clock span {
  position: absolute;
  inset: 20px;
  color: #fff;
  text-align: center;
  transform: rotate(calc(30deg * var(--i)));
}

.clock span b {
  display: inline-block;
  font-size: 2em;
  font-weight: 600;
  opacity: 0.25;
  transform: rotate(calc(-30deg * var(--i)));
}

.circle {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  width: 300px;
  height: 300px;
  border: 2px solid rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  z-index: 10;
}

.circle i {
  position: absolute;
  width: 6px;
  height: 50%;
  background: var(--clr);
  opacity: 0.75;
  transform-origin: bottom;
  transform: scaleY(0.5);
}

.circle:nth-child(1) i {
  width: 2px;
}

.circle:nth-child(2) i {
  width: 6px;
}

.circle2 {
  width: 240px;
  height: 240px;
  z-index: 9;
}

.circle3 {
  width: 180px;
  height: 180px;
  z-index: 8;
}

.circle::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  top: -8px;
  border-radius: 50%;
  background: var(--clr);
  box-shadow: 0 0 20px var(--clr);
}

#time {
  display: flex;
  margin-bottom: 40px;
  padding: 10px 20px;
  font-size: 2em;
  font-weight: 600;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 40px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 20px rgba(255, 255, 255, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
}

#time div {
  position: relative;
  width: 60px;
  text-align: center;
  font-weight: 500;
  color: var(--clr);
}

#time div:nth-child(1)::after,
#time div:nth-child(2)::after {
  content: ':';
  position: absolute;
  right: -4px;
}

#time div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.5em;
  color: #fff;
}

#time div:nth-child(2)::after {
  animation: animate 1s steps(1) infinite;
}

@keyframes animate {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
